@model SmartDocScan.Models.ChangePasswordViewModel

@{
                /**/

                ViewBag.Title = "ChangePassword";
                Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-6 offset-md-3">
    <div class="block-center">
        <h3>Change Password</h3>
        @using (Ajax.BeginForm("ChangePassword", "Admin", new AjaxOptions { OnSuccess = "OnSuccessChangePassword", OnFailure = "OnFailureChangePassword" }, new { @id = "frmChngPasswd" }))
        {
            @Html.ValidationSummary(true)

            @Html.HiddenFor(model => model.Id)

            <div class="form-cart-block">
                <div class="brief-block">
                    <div class="row brief-sub-head1 form-group">
                        <div class="col-sm-4"><label>Old Password :</label></div>
                        <div class="col-sm-8">
                            <div class="currentPassword">
                                @Html.PasswordFor(x => x.oldPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.oldPassword)
                            </div>
                        </div>
                    </div>
                    <div class="row brief-sub-head1 form-group">
                        <div class="col-sm-4"><label>New Password :</label></div>
                        <div class="col-sm-8">
                            @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.NewPassword)
                        </div>
                    </div>
                    <div class="row brief-sub-head1 form-group">
                        <div class="col-sm-4"><label>New Password :</label></div>
                        <div class="col-sm-8">
                            @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.ConfirmPassword)
                        </div>
                    </div>
                </div>
                <hr />
                <div class="btn-panel">
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </div>
            </div>
        }
    </div>
</div>

@section ScriptSection{
    <script type="text/javascript">
        var btn_submit = $("#btnsubmit");

        function OnSuccessChangePassword(res) {
            debugger;
            if ($.trim(res.res) == "success") {

                showToasterMsg("Password changed successfully.", 1);
                setTimeout(function () { location.reload() }, 1000);
            }
            else if ($.trim(res.res) == "invalid_oldpasswd") {
                showToasterMsg("Your old password not match.!", 2);
                setTimeout(function () { location.reload() }, 1000);
            }
            else if ($.trim(res.res) == "invaliduser") {
                window.location = "/home";
            }
            else {
                NotifyError(res.res);
            }
        }
        function OnFailureChangePassword(data) {

            NotifyError("Some problem in saving data.", 2);
        }
    </script>
}

