
@model SmartDocScan.Models.PatientViewModel
@{
    ViewBag.Title = "EditPatient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-6 offset-md-3">
    <div class="block-center">
        <h3>Edit Patient</h3>
        @using (Ajax.BeginForm("EditPatientPost", "Admin", new AjaxOptions { HttpMethod = "POST", OnSuccess = "onSuccess", OnFailure = "onFailure" }, new { id = "formPatient" }))
        {
            @Html.AntiForgeryToken()
           
            @Html.HiddenFor(m=>m.comp_id)
            @Html.HiddenFor(m => m.patient_id)

            <div class="form-cart-block">
                <div class="brief-block">
                    <div class="row brief-sub-head1 form-group">
                        <div class="col-sm-3"><label>Last Name :</label></div>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.last_name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.last_name, "", new { @class = "text-danger" })
                           @{ var compId = Model.comp_id;}
                        </div>
                    </div>
                    <div class="row brief-sub-head1 form-group">
                        <div class="col-sm-3"><label>First Name :</label></div>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.first_name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.first_name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row brief-sub-head1 form-group">
                        <div class="col-sm-3"><label>Patient ID :</label></div>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.comp_id, new { htmlAttributes = new { @class = "form-control" } })
                            <span>Leave blank if not applicable</span>
                        </div>
                    </div>
                    <div class="row brief-sub-head1 form-group">
                        <div class="col-sm-3"><label>Date of Birth :</label></div>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.dob, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="row brief-sub-head1 form-group">
                        <div class="col-sm-3"><label>Gender :</label></div>
                        <div class="col-sm-9">
                            <div class="custom-control custom-radio custom-control-inline">
                                @Html.RadioButtonFor(model => model.gender, "M", new { @id = "rdMale" })
                                <label for="rdMale">Male</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                @Html.RadioButtonFor(model => model.gender, "F", new { @id = "rdFemale" })
                                <label for="rdFemale">Female</label>
                            </div>
                        </div>
                    </div>
                    <div class="row brief-sub-head1 form-group">
                        <div class="col-sm-3"><label>Physician :</label></div>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.physician, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="row brief-sub-head1 form-group">
                        <div class="col-sm-3"><label>Box :</label></div>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.box, new { htmlAttributes = new { @class = "form-control" } })
                            <span>Comma separated ID's for multiple boxes</span>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="btn-panel">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        }
    </div>
</div>

@*<script src="/Content/common/editpatient.js"></script>*@

@section ScriptSection
{
    <script type="text/javascript">

        $(document).ready(function () {
            $('#comp_id').val(getParameterByName('id'));
        });

        function onSuccess(data) {
            showToasterMsg(data.Message, 1);

            setTimeout(
                function () {
                    
                    window.location = '/admin/findpatient?id=' + getParameterByName('id');
                }, 2000);

        }

        function onFailure(data) {
            showToasterMsg(data.Message, 2);
        }
        $(function () {
            $('#formPatient').submit(function (e) {
                if ($(this).valid()) {
                    var form = e.target;
                    if (form.dataset.ajax) {
                        e.preventDefault();
                        e.stopImmediatePropagation();
                        var xhr = new XMLHttpRequest();
                        xhr.open(form.method, form.action);
                        xhr.onreadystatechange = function () {
                            if (xhr.readyState === 4 && xhr.status === 200) {
                                if (form.dataset.ajaxUpdate) {
                                    var updateTarget = document.querySelector(form.dataset.ajaxUpdate);
                                    if (updateTarget) {
                                        updateTarget.innerHTML = xhr.responseText;
                                    }
                                }
                                var res = $.parseJSON(xhr.responseText);
                                onSuccess(res);
                            }
                        };
                        xhr.send(new FormData(form));
                    }
                }
            });
        });
    </script>
}


